.skills {
    &__title {
        text-align: center;
        margin-top: 50px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        row-gap: 30px;
        margin-top: 30px;
    }

    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .item-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            background-color: $green;
            margin-right: 20px;
            border-radius: 5px;

            svg {
                fill: white;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .skills {
        &__wrapper {
            grid-template-columns: auto auto;
            justify-content: space-around;
        }

        &__item {
            flex-direction: column;
            align-items: center;

            .item-logo {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .skills {
        &__wrapper {
            grid-template-columns: auto;
            justify-content: center;
        }
    }
}