.skills {
    &__title {
        text-align: center;
        margin-top: 50px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        row-gap: 30px;
        margin-top: 30px;
    }

    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .item-logo {
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 550px) {
    .skills {
        &__wrapper {
            grid-template-columns: auto;
        }

        &__item {
            flex-direction: column;
            align-items: center;

            .item-logo {
                margin-right: 0;
            }
        }
    }
}