@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

$green: #61bb76;
$text-color: #586066;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: $text-color;
}

.header {
    position: fixed;
    width: 100%;
    transition: all .3s;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
        transition: all .3s;
        h1 {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 70px;
                    height: 50px;
                }
            }
        }
    }

    &__nav {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            li {
                &:not(:last-child) {
                    margin-right: 20px;
                }

                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: #586066;
                    transition: all .2s;

                    &:hover {
                        color: #61bb76;
                    }
                }
            }
        }
    }

    &__hamburger {
        display: none;
        .menu-btn {
            display: block;
            width: 50px;
            height: 50px;
            cursor: pointer;
            position: relative;
            background: none;
            border: none;
            span, span::before, span::after {
                position: absolute;
                top: 50%; margin-top: -1px;
                left: 50%; margin-left: -10px;
                width: 20px;
                height: 2px;
                background-color: $text-color;
            }

            span::before, span::after {
                content: '';
                display: block;
                transition: .5s;
            }

            span::before {
                transform: translateY(-5px);
            }

            span::after {
                transform: translateY(5px);
            }
        }

        .menu-active {
            span {
                height: 0px;
            }

            span::before {
                transform: rotate(45deg);
            }

            span::after {
                transform: rotate(-45deg);
            }
        }
    }
}

.header__border {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);

    .header__wrapper {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

@media screen and (max-width: 650px) {
    .header {
        &__nav {
            width: 95%;
            position: absolute;
            top: 120%;
            left: -3500px;
            transform: translateX(-50%);
            box-shadow: 0 0 10px rgba(0, 0, 0, .3);
            background: #fff;
            border-radius: 5px;
            transition: all .3s;

            ul {
                flex-direction: column;
                align-items: center;

                li {
                    padding: 20px;
                    &:not(:last-child) {
                        margin-right: 0px;
                    }
                }
            }
        }

        .header__nav-active {
            left: 50%;
        }

        &__hamburger {
            display: block;
        }
    }
}

@import './blocks/promo';
@import './blocks/skills';
@import './blocks/social';
@import './blocks/articles';